{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100,
  "endOfLine": "lf",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "consistent",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "bracketSameLine":true,

  "pluginSearchDirs": false,
  
 
  "organizeAttributes": {
    "groups": [
      "class",
      "id",
      "style",
      "data-*",
      "aria-*",
      "role",
      "on*"
    ],
    "sortOrder": "asc"
  }

}
