* {
        color: #504e4e;
        margin:1vh;
      }
      form > input {
        width: 14rem !important;
        border-radius: 5px !important;
        border:none !important;
        box-shadow: 2px 2px 4px #504e4e;
      }
      form {
        background-color: #f3f3f3;
        width: fit-content;
        padding: 2rem;
        margin-top: 25%;
        border-radius: 2rem !important;
        box-shadow: 2px 2px 6px rgb(158, 158, 158);
      }